body {
  background-color: rgb(137, 255, 137);
  height: 100svh;
}
.menu-options {
  width: 200px;
  height: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  /* align-items: end; */
  position: absolute;
  top: 0px;
  left: -200px;
  background-color: rgb(255, 197, 90);
}

.menu-options div {
  /* width: 200px; */
  padding: 10px;
  font-size: 20px;
  border-bottom: 2px solid white;
  border-radius: 5px;
  /* position: absolute; */
}

.menu-options div:hover,
span:hover {
  background-color: yellow;
  border-radius: 5px;
}

span {
  width: fit-content;
  font-size: 40px;
}
