body {
  background: url("girl.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: static;
}
table {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  position: relative;
}

.bomma {
  position: absolute;
}
table td {
  border: 2px solid black;
  background: linear-gradient(to bottom right, yellow, rgb(147, 3, 89));
  opacity: 0.8;
}

input {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid pink;
}

button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid pink;
}

button:hover {
  transform: translateY(0.5px);
}
